* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

html {
	  scroll-behavior: smooth;
}
  
html,
body {
	width: 100%;
	height: 100%;
}

section {
	padding-block: 3.5rem;
}

.header{
	width: 100%;
}

/* MENU */
.navbar li a {
	color: #fff;
	transition: 0.3s ease-in;
}
.navbar li a:hover {
	color: #f52e2e;
}

.navbar .navbar-toggler {
	background-color: #fff;
}

/* SECTION INICIO */
.inicio {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background-color: #ffffff;
}

.inicio_container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.inicio_content h5 {
	font-size: 1.5625rem;
	font-weight: 600;
	color: rgba(52, 52, 53, 0.61);
}

.inicio_content h2 {
	font-size: 4.625rem;
	font-weight: 800;
	margin: 1.375rem 0;
	letter-spacing: 0.0625rem;
}

.inicio_content .btn_inicio {
	display: inline-block;
	text-decoration: none;
	background-color: #2e2d2d;
	padding: 0.75rem 2rem;
	border-radius: 3.125rem;
	color: #fff;
	margin: 1.75rem 0.25rem;
	font-weight: 600;
	transition: 0.3s ease-in;
}

.inicio_content .btn_inicio:hover {
	background-color: #151414;
}

.inicio_content .btn_2 {
	background-color: #f52e2e;
}

.inicio_content .icon_social {
	font-size: 1.0625rem;
	padding: 0.75rem 0.875rem;
	color: #151414;
	border: 0.125rem solid #2e2d2d;
	border-radius: 1.875rem;
	margin: 0px 0.25rem;
	cursor: pointer;
	transition: 0.3s ease;
}

.inicio_content .icon_social:hover {
	background: #f52e2e;
	color: #fff;
}

.inicio .social_links a {
	text-decoration: none;
}

.inicio .inicio_img {
	width: 100%;
	border-radius: 0.625rem;
}

/* SECTION SOBRE */
.sobre {
	width: 100%;
	background-color: #ebebeb;
}

.sobre h2 {
	font-size: 2.875rem;
	margin-bottom: 3.75rem;
}

.sobre .img_sobre {
	width: 100%;
	border-radius: 0.625rem;
}

.sobre .sobre_content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.sobre .items {
	margin: 0.5rem 0px;
	/* list-style: none; */
}

.sobre .items b {
	font-weight: 600;
	font-size: 1.0625rem;
	color: rgba(0, 0, 0, 0.82);
}

.sobre .items span {
	margin: 0px 0.1875rem;
	font-weight: 400;
	font-size: 0.9375rem;
	color: rgba(0, 0, 0, 0.72);
}

.sobre .btn_sobre {
	display: inline-block;
	padding: 0.6875rem 2.3125rem;
	text-decoration: none;
	color: #f52e2e;
	border: 0.125rem solid #f52e2e;
	width: 12.5rem;
	margin: 0.75rem 0px;
	font-weight: 600;
	border-radius: 0.1875rem;
	position: relative;
	z-index: 77;
}

.sobre .btn_sobre span {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #f52e2e;
	width: 0%;
	height: 100%;
	z-index: -77;
	transition: 0.7s ease-in;
}

.sobre .btn_sobre:hover span {
	width: 100%;
}

.sobre .btn_sobre:hover {
	color: #fff;
}

/* SECTION HABILIDADES */
.habilidades {
	background-color: #ffffff;
}

.habilidades h2 {
	font-size: 2.875rem;
	margin-bottom: 3.75rem;
}

.habilidades .progressao {
	background-color: #f52e2e;
}

.habilidades .habilidadesTexto h4 {
	text-transform: uppercase;
}

/* SECTION PORTFOLIO */
.portfolio {
	background-color: #ebebeb;
}

.portfolio h2 {
	font-size: 2.875rem;
	margin-bottom: 3.75rem;
}

.portfolio .card {
	height: 35rem;
}

.portfolio .card-body {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portfolio a {
	background-color: #f52e2e;
	color: #fff;
	border: 0.125rem solid #f52e2e;
	transition: 0.3s ease-in;
}

.portfolio a:hover {
	background-color: #151414;
	border: 0.125rem solid #151414;
}

/* SECTION CONTATO */
.contato h2 {
	font-size: 2.875rem;
	margin-bottom: 3.75rem;
}
.contato .card-contato {
font-size: 2rem;
}

/* FOOTER */
.footer .social-midia {
	background-color: rgba(0, 0, 0, 0.2);
}

.footer .copyright {
	background-color: rgba(0, 0, 0, 0.2);
}

@media (max-width:992px) {
	.inicio .inicio_img {
		display: none;
	}

	.inicio_content h2 {
		font-size: 3.75rem;
	}

	.contato .card-contato {
		font-size: 1.5rem;
	}

	.contato .mapa {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media (max-width:400px) {
	.inicio_container {
		margin: 2.25rem 0 0 0;
	}
	
	.inicio_content .btn_inicio {
		padding: 0.75rem 1.125rem;
		margin: 0.75rem 0.25rem;
	}
	
	.inicio_content h2 {
		font-size: 2.5rem;
	}

	.inicio .social_links {
		margin-top: 0.3rem;
		display: flex;
		justify-content: space-evenly;
	}

	.contato .card-contato {
		font-size: 1rem;
	}

	.sobre .btn_sobre {
		text-align: center;
		align-self: center;
	}
}