* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

html {
	  scroll-behavior: smooth;
}
  
html,
body {
	width: 100%;
	height: 100%;
}

section {
	padding-block: 56px ;
}

.header{
	width: 100%;
}

/* SECTION INICIO */
.inicio {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background-color: #ffffff;
}

.inicio_container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.inicio_content h5 {
	font-size: 25px;
	font-weight: 600;
	color: rgba(52, 52, 53, 0.61);
}

.inicio_content h2 {
	font-size: 74px;
	font-weight: 800;
	margin: 22px 0;
	letter-spacing: 1px;
}

.inicio_content .btn_inicio {
	display: inline-block;
	text-decoration: none;
	background-color: #2e2d2d;
	padding: 12px 32px;
	border-radius: 50px;
	color: #fff;
	margin: 28px 4px;
	font-weight: 600;
	transition: 0.3s ease-in;
}

.inicio_content .btn_inicio:hover {
	background-color: #151414;
}

.inicio_content .btn_2 {
	background-color: #f52e2e;
}

.inicio_content .icon_social {
	font-size: 17px;
	padding: 12px 14px;
	color: #151414;
	border: 2px solid #2e2d2d;
	border-radius: 30px;
	margin: 0px 4px;
	cursor: pointer;
	transition: 0.3s ease;
}

.inicio_content .icon_social:hover {
	background: #f52e2e;
	color: #fff;
}

.inicio .inicio_img {
	width: 100%;
	border-radius: 10px;
}

/* SECTION SOBRE */
.sobre {
	width: 100%;
	background-color: #ebebeb;
}

.sobre h2 {
	font-size: 46px;
	margin-bottom: 60px;
}

.sobre .img_sobre {
	width: 100%;
	border-radius: 10px;
}

.sobre .sobre_content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.sobre .items {
	margin: 8px 0px;
	/* list-style: none; */
}

.sobre .items b {
	font-weight: 600;
	font-size: 17px;
	color: rgba(0, 0, 0, 0.82);
}

.sobre .items span {
	margin: 0px 3px;
	font-weight: 400;
	font-size: 15px;
	color: rgba(0, 0, 0, 0.72);
}

.sobre .btn_sobre {
	display: inline-block;
	padding: 11px 37px;
	text-decoration: none;
	color: #f52e2e;
	border: 2px solid #f52e2e;
	width: 200px;
	margin: 12px 0px;
	font-weight: 600;
	border-radius: 3px;
	position: relative;
	z-index: 77;
}

.sobre .btn_sobre span {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #f52e2e;
	width: 0%;
	height: 100%;
	z-index: -77;
	transition: 0.7s ease-in;
}

.sobre .btn_sobre:hover span {
	width: 100%;
}

.sobre .btn_sobre:hover {
	color: #fff;
}

/* SECTION HABILIDADES */
.habilidades {
	background-color: #ffffff;
}

.habilidades h2 {
	font-size: 46px;
	margin-bottom: 60px;
}

.habilidades .progressao {
	background-color: #f52e2e;
}

.habilidades .habilidadesTexto h4 {
	text-transform: uppercase;
}

/* SECTION PORTFOLIO */
.portfolio {
	background-color: #ebebeb;
}

.portfolio h2 {
	font-size: 46px;
	margin-bottom: 60px;
}

.portfolio .card {
	height: 35rem;
}

.portfolio .card-body {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portfolio a {
	background-color: #f52e2e;
	color: #fff;
	border: 2px solid #f52e2e;
	transition: 0.3s ease-in;
}

.portfolio a:hover {
	background-color: #151414;
	border: 2px solid #151414;
}

/* SECTION CONTATO */
.contato h2 {
	font-size: 46px;
	margin-bottom: 60px;
}
.contato .card-contato {
font-size: 2rem;
}

/* FOOTER */
.footer .social-midia {
	background-color: rgba(0, 0, 0, 0.2);
}

.footer .copyright {
	background-color: rgba(0, 0, 0, 0.2);
}

@media (max-width:992px) {
	.inicio .inicio_img {
		display: none;
	}

	.inicio_content h2 {
		font-size: 60px;
	}

	.contato .card-contato {
		font-size: 1.5rem;
	}

	.contato .mapa {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}